<?php 
class DB {
    static $connection = null;
    static $username = 'root';
    static $password = '';
    static $host = 'localhost';
    static $dbname = 'exotic';

    public static function getConnection(){
        if (static::$connection){
            return static::$connection;
        }
        return static::$connection = new PDO('mysql:host=' . static::$host .';dbname=' . static::$dbname, static::$username, static::$password);
    }

    
}
